client
libecs.a
server
*.cmake
CMakeCache.txt
CMakeFiles
vcpkg/
_deps/
asio--src/
.vscode
Makefile
ZERO_CHECK*
*vcxproj
*.sln
*.filters
x64
*.dir
*.smn
asio*
.github
db.txt
my_tests
sqlite3/
lib/
db/rtype.db